doctype html
html
  head
    base(href='/')
    title Futbol L.P.F
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .container-fluid.js-spinner
      .row
        .col-xs-12.text-center.spinner-container
          .spinner
            i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
            br
            |  Cargando...
    .container-fluid.graphs.js-content
      .row
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="tomas", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="pablo", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="sebastian", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="nicolas", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="nacho", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="diego", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="ale", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="luciano", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="ivan", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="marcelo", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="maxy", width="400", height="400")
        .col-xs-12.col-sm-6.col-md-4.graph-container
          canvas(id="lucas", width="400", height="400")